{% extends "tienda/layout.html" %} {% block body %}
<h1 style="margin-top: 3rem">Ultimos productos</h1>
<div class="row" style="margin-top: 2rem">
  {% for producto in productos %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="card" style="width: 18rem">
      <img src="{{ media_url}}{{producto.imagen.url}}" class="card-img-top" alt="producto.imagen.name" />
      <div class="card-body">
        <h5 class="card-title">{{ producto.titulo }}</h5>
        <p class="card-text">
          {{producto.descripcion}}
        </p>
        {% if perms.producto.change_producto %}
        <a href="{% url 'JAGUARETE:editar_producto' producto.id %}" class="btn btn-warning">Editar</a>
        {% else %}
        <a href="{% url 'JAGUARETE:producto' producto.id %}" class="btn btn-primary">Ver...</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="card col-12" style="margin-top: 5rem">
    <div class="car-header bg-dark text-white">
        <h1 class="text-center">Más productos</h1>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item <a href="#" class="btn btn-primary float-right">Ver producto</a></li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}
