<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUAGURETE KAA S.A.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">KAGUARETE KAA S.A.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse clearfix" id="navbarText">
              <ul class="navbar-nav mr-auto float-right">
                {% if user.is_authenticated %}
                Bienvenido {{user.get_username}} 
                <li class="nav-item">
                  <a class="nav-link btn btn-danger text-white ," href="{% url 'logout' %}">Salir</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link btn btn-dark text-white" href="{% url 'login' %}">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">REGISTRO</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#">CARRITO</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'JAGUARETE:index' %}">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORIAS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for categoria in categorias %}
                <a class="dropdown-item" href="#">{{categoria.categoria}}</a>
                {%endfor%}
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'JAGUARETE:acerca-de' %}">ACERCA DE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'JAGUARETE:contacto' %}">CONTACTO</a>
            </li>
            {% if perms.producto.new_producto %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'JAGUARETE:nuevo_producto' %}">NUEVO PRODUCTO</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      <div class="container">
          {% block body %}
          {% endblock %}
      </div>
      <style>
        .footer{
          color: white;
          text-align: center;
          margin-top:3rem;
          padding: 2rem;
        }
      </style>
      <footer class="bg-dark footer">
        Desarrolldo por AMB - Derechos reservados 2021
      </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>